<form action="https://formspree.io/f/mqkgbezj" method="POST">
  <div class="contact-home__form-group">
    <div class="contact-home__form-item">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Your Name" />
    </div>
    <div class="contact-home__form-item">
      <label for="_replyto">Email</label>
      <input type="email" name="_replyto" placeholder="Your Email" />
    </div>
  </div>
  <div class="contact-home__form-item">
    <label for="message">How can we help?</label>
    <textarea name="message"" rows="4" placeholder="Write us a note..."></textarea>
  </div>
  <button type="submit" class="btn btn-arrow">
    Submit
    <div class="btn-arrow-container">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
      <span class="circle"></span>
    </div>
  </button>
</form>